extends layout 

block content 
  h1.text-center(class="sectionHeading") Zillow Exclusive Listings 
  br
  p.text-center(class="displayText") Successfully logged into Zillow Listings, #{user.userinfo.name}.

