extends layout


block content
 div#one
  h1.text-center(class="sectionHeading") Welcome to Zillow Exclusive Listings! 
  img.views(src="./stylesheets/views.png" alt="Image Title", style="width: 100%;")
  hr
  h1.text-center(class="subHeading")  members get first access to our listings before going on the open market. 
  <br>
  h1.text-center(class="sectionHeading") Subscribe to Gold membership today! 
  img.house(src="./stylesheets/house.png" alt="Image Title" style="width: 100%;")   
 
  
  
  footer 
    img.zillow2(src="./stylesheets/footer.png" alt="Image Title")


  